.jumbotron {
  width: 100%;
  background-color: #ecb3ff;
  color: #4d0066;
  padding: 1%;
}

.card-header {
  background-color: #9900cc;
  color: white;
  margin-top: 1%;
}

.card-body {
  margin-bottom: 10px;
}

.btn {
  background-color: #4d0066;
}